competitive/
website/
downloads/
dev/

.cache/
.local/
.ssh/
.vim/
.gnupg/
.mozilla/
.cargo/
.rustup/
.pki/
.npm/

.Xauthority
.fehbg
.python_history
.viminfo

# too large to track in github
.icons/

